.main__header {
  display: none;
}

.contactsList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  min-height: 100vh;
  h2 {
    text-align: center;
  }
}

@media (min-width: 850px) {
  .main__header {
    display: flex;
    justify-content: center;
    text-align: left;

    p {
      margin-left: 2.5rem;
      margin-right: 3rem;
    }
  }

  .contactsList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
