@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

* {
  font-family: "SUSE", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

@media only screen and (min-width: 700px) {
  ul {
    display: flex;
    justify-content: space-around;
    min-width: 25%;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
