.nav__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  padding: 6rem 3rem 0;
  transition: right 0.4s;
}

.header {
  min-width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.nav__link {
  color: green;
}

.nav__link:hover {
  color: blue;
  text-decoration: underline;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.show_menu {
  right: 0;
}

@media (max-width: 850px) {
  .header {
    background-color: transparent;
  }
}
